/* 
|--------------------------------------------------------------------------
| Global Layout Styles
|--------------------------------------------------------------------------
| These styles apply to the entire website.
| Keep only general styles here (reset, fonts, background, etc.)
*/

/* BODY + BACKGROUND */
body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;

    /* moving gradient setup */
    background: linear-gradient( 135deg, #130325, #230541, #1b0431, #130325 );
    background-size: 200% 200%;  /* double size for smooth movement */
    animation: gradientMove 10s ease infinite; /* infinite loop */

    background-repeat: no-repeat;
    background-attachment: fixed; /* makes it smooth on scroll */
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
